body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 3;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 5vw;
    border-bottom: blueviolet 3px solid;
    box-sizing: border-box;
}


.logo > img {
    height: 65px;
    max-width: 100%;
}

.notice {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 22px;
    font-style: oblique;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    border-bottom: blueviolet 6px solid
}

.lightleaks {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo2 {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%
}

.logo2 img {
    position: absolute;
    width: 90%
}

.teaser {
    background-color: black;
    border-bottom: blueviolet 4px solid;
    padding-bottom: 51px
}

.teaser > h1 {
    color: blueviolet;
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    padding-top: 20px
}

.videos {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 80px 5vw;
    overflow-x: hidden;
}

.teaser1 {
    position: relative;
    background: blueviolet;
    padding: 54px;
    transform: skew(-12deg);
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
}

.teaser1 > iframe {
    transform: skew(12deg);
    padding-bottom: 0px;
    box-shadow: black 1px 0px 42px 20px;
}



.teaser2 {
    background: blueviolet;
    padding: 54px;
    transform: skew(-12deg);
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px
}

.teaser2 > iframe {
    transform: skew(12deg);
    box-shadow: black 1px 0px 42px 20px;
}

.site-footer {
    background: #0b0b12;
    border-top: 1px solid rgba(255,255,255,0.08);
    padding: 40px 5vw;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.site-footer p {
    margin: 10px 0;
    color: rgba(255,255,255,0.6);
    line-height: 1.6;
}

.site-footer .credit span {
    color: white;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.credit {
    font-family: 'Bebas Neue';
    font-style: oblique;
    font-size: 1.55rem
}

.legal {
    font-family: sans-serif;
    font-size: 0.85rem
}

@media (max-width: 1366px) {
    header {
        justify-content: center;
    }

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .teaser1 {
        padding: 20px;
    }

    .teaser1 > iframe {
        width: 290px;
        height: 190px
    }

    .teaser2 {
        padding: 25px
    }

    .teaser2 > iframe {
        width: 290px;
        height: 190px
    }
}

@media (orientation: landscape) {
    .logo > img {
        height: 55px;
        max-width: 100%;
    }

    .logo2 > img {
        width: 60%
    }
}